<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Employees</title>
</head>
<body>
<div class="title">
<h1> All Personal in the system</h1>
</div>
    <ol>
<p>
    {% for assignee_id,assignee_name,username in assignees: %}
    <div class="content">
        <p>
        <li><a href="/assignee/{{ assignee_id }}">{{ assignee_name }} ({{ username }})</a></li>
    </p>
    </div>
    {% endfor %}
</ol>
<div class="add_item">
    <a href="http://localhost:9191/new_assignee"><button type="button" title="Add new employee"><img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-line-set-1/52/add__new__button__plus-512.png"></button></a>
</div>
<div class="sidebar">
    <h4>Bestorder</h4><div class="hr"></div><br>
<p><a href="http://localhost:9191/bestorder">Main</a></p>
<p><a href="http://localhost:9191/all_assignees">Assignees</a></p>
<p><a href="http://localhost:9191/all_tasks">All Tasks</a></p>
</div>
</body>
</html>